* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei";
}

.main {
  display: flex;
}
.main .background {
  width: 901px;
  height: 100vh;
  background-image: url(../static/login1_1.1.png);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: 100% 100%;
  background-position: center center;
}
.main .background > img {
  margin: 0 auto;
  margin-bottom: 10vh;
}
.main .login {
  width: 800px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.main .login > .lg_center {
  box-shadow: 0 0 10px 1px #d4e7ff;
  border-radius: 17px;
  width: 549px;
  height: 564px;
  padding: 0px 81px;
}
.main .login > .lg_center > .img > img {
  width: 290px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 40px;
  margin-left: 28px;
  font-size: 14px;
}
.main .login > .lg_center > .logon {
  width: 100%;
  margin-top: 40px;
}
.main .login > .lg_center > .logon > span {
  font-size: 24px;
  color: #202020;
  line-height: 30px;
}
.main .login > .lg_center > .username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 0;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 20px;
  border: 1px solid #e6e7eb;
  border-radius: 4px 4px 4px 4px;
}
.main .login > .lg_center > .username > img {
  width: 30px;
  height: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  margin-left: 14px;
  font-size: 14px;
}
.main .login > .lg_center > .username > input {
  width: 270px;
  height: 40px;
  line-height: 30px;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 14px;
  border: 0 solid #000;
  font-size: 16px;
  outline: none;
}
.main .login > .lg_center > .tishi {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main .login > .lg_center > .tishi > input {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 1px solid #ccc;
  border-radius: 2px;
  vertical-align: middle;
}
.main .login > .lg_center > .tishi > label {
  font-size: 14px;
  color: #333;
  margin-left: 10px;
  vertical-align: middle;
}
.main .login > .lg_center > .tishi > span {
  font-size: 14px;
  color: red;
  vertical-align: middle;
  margin-left: 240px;
  cursor: pointer;
}
.main .login > .lg_center > .but {
  margin-top: 50px;
}
.main .login > .lg_center > .but > button {
  width: 100%;
  height: 60px;
  background-color: #3662ec;
  color: #fff;
  border: 1px solid #09f;
  border-radius: 9px 9px 9px 9px;
  font-size: 18px;
  cursor: pointer;
}
.main .login > .lg_center > .forget > span {
  display: inline-block;
  width: 80px;
  height: 30px;
  border: solid;
}

.modal_box_add, .modal_box_edit {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(218, 216, 216, 0.5);
  top: 0;
  display: none;
  z-index: 99;
}

.addform, .editform {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
}

.editform {
  width: 400px;
}

.add_close {
  position: absolute;
  border: solid;
  top: 10px;
  right: 7px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.add_close:hover {
  color: white;
  background-color: #999;
}

.addform button {
  width: 50px;
  height: 30px;
  font-size: 14px;
  margin-right: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border: none;
}/*# sourceMappingURL=login.css.map */