<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../20230925/js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <template id="t1">
        <div>
            <ul v-for="(v,k) in nums">
                <li v-for="(v1,k1) in event(v)">
                    {{v1}}
                </li>
            </ul>
        </div>
    </template>
    <script>
        [].filter
        const vm = new Vue({
            el: '#app',
            template: '#t1',
            data() {
                return {
                    nums: [
                        [1, 2, 3, 4, 5, 6, 7, 8],
                        [10, 11, 12, 13, 14, 15, 16]
                    ]
                }
            },
            methods: {
                event(arr) {
                    return arr.filter((el, i) => el % 2 == 0);
                }
            },
        })
    </script>
</body>

</html>