<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../20230925/js/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <template id="t1">
        <div>
            <!-- 
                v-for 和 v-if 不推荐在同一标签上一起使用，没办法直观的看出优先级
                vue2: v-for 优先级大于 v-if
                vue3: v-if  优先级大于 v-for
             -->
            <template v-for="v in newPosts">
                <!-- <template v-if="v.id%2===0"> -->
                <h2 :key="v.id+'h2'">{{v.title}}</h2>
                <p :key="v.id+'p'">{{v.conten}}</p>
                <!-- </template> -->
            </template>
        </div>
    </template>
    <script>
        [].filter
        const vm = new Vue({
            el: '#app',
            template: '#t1',
            data() {
                return {
                    posts: [
                        { id: 1, title: 'haha1', conten: 'xixi' },
                        { id: 2, title: 'haha2', conten: 'xixi' },
                        { id: 3, title: 'haha3', conten: 'xixi' },
                        { id: 4, title: 'haha4', conten: 'xixi' },
                        { id: 5, title: 'haha5', conten: 'xixi' },
                    ]
                }
            },
            computed: {
                newPosts() {
                    return this.posts.filter(e => e.id % 2 === 0)
                }
            }
        })
    </script>
</body>

</html>